/*
 * 		Name: Caspian Maclean
 *		ID: 30039802
 *      Date: 8/9/2021
 *      Task: Project
 */

body {
    background-color: rgb(224, 224, 224);
}
main {
    margin-left: 160px;
}
header {
    margin-left: 160px;
}


/* Navigation pane formatting */
nav {
    background-color: lightgray;
}
nav li a {
    display: block;
}
nav ul {
	list-style-type: none;
    width: 140px;
    padding: 4px;
    margin-top: 0;
    position: fixed;
    background-color: lightgray;
    height: 100%;
}


/* Table formatting */
tr:nth-child(even) {
    background-color: lightgray;
}
th {
    border: 2px solid black;
    border-collapse: collapse;
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
}
/* Make the whole table cell with a link in it clickable */
td a {
    display: block;
}


/* details page formatting */
.details-list {
    column-count: 2;
}
.detail-halfway {
    break-after: column;
}
.details-list label {
    width: 100px;
    display: inline-block;
    text-align: right;
    padding-right: 8px;

}


/* form and input formatting */
form label {
    width: 100px;
    display: inline-block;
    text-align: right;
    padding-right: 8px;
}

input, select {
    margin-bottom: 20px;
}

.button {
    margin-top: 10px;
    margin-right: 40px;
}

